@model modelo.Tabelas.Pessoa

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Pessoa a ser removido
    </div>
    <br />
    <div class="panel-body">
        <div class="form-group">
            @Html.LabelFor(model => model.Nome)<br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            @Html.LabelFor(model => model.sobrenome)<br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
                @Html.EditorFor(model => model.sobrenome, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
    </div>
    <div class="panel-footer panel-info">
        <a href="#" class="btn btn-info" data-toggle="modal" data-target="#deleteConfirmationModal">Remover</a>
        @Html.ActionLink("Retornar para a listagem", "Index", null, new { @class = "btn btn-warning" })
    </div>
</div>


<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" datadismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">Confirmação de exclusão da Pessoa</h4>
            </div>
            <div class="modal-body">
                <p>
                    Você está prestes a remover a pessoa @Model.Nome.ToUpper() do cadastro.
                </p>
                <p>
                    <strong>
                        Você está certo que deseja prosseguir?
                    </strong>
                </p>
                @using (Html.BeginForm("Delete", "Pessoas", FormMethod.Post, new { @id = "delete-form", role = "form" }))
                {
                    @Html.HiddenFor(m => m.Id)
                    @Html.AntiForgeryToken()
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="$('#delete-form').submit();">
                    Sim, exclua esta Pessoa.
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    Não, não exclua esta Pessoa.
                </button>
            </div>
        </div>
    </div>
</div>

@section ScriptPage {
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liProdutos').addClass("active");
        });
    </script>
}
