@model IEnumerable<modelo.Tabelas.Compra>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa.Nome)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pessoa.Nome)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CompraId }) |
                @Html.ActionLink("Details", "Details", new { id=item.CompraId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.CompraId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
