@model modelo.Tabelas.Produto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "Produtos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
            Alterar Produto @Model.Nome
        </div>
        <br />
        <div class="panel-body">
            @Html.HiddenFor(model => model.LogoTipo)
            @Html.HiddenFor(model => model.ProdutoId)
            @Html.Partial("~/Areas/Tabelas/Views/Produtos/_PartialEditContentPanel.cshtml", Model)
        </div>

        <div class="panel-footer panel-info">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Gravar alterações" class="btn btn-info" />
                @Html.ActionLink("Retornar para a listagem de Produtos", "Index", null, new { @class = "btn btn-warning" })
            </div>
            <br />
            <br />
        </div>
    </div>

}
@section ScriptPage {
    <script src="~/scripts/jquery-ui/js/jquery-ui-1.9.2.custom.js"></script>
    <script src="~/scripts/datepicker-pt-BR.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liProdutos').addClass("active");
            $("#datepicker").datepicker();
        });
    </script>
}
@section styles{
    <link href="~/Scripts/jquery-ui/css/base/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
}

